<hr><br><br>
<div class="container">
  <app-form (searchProf)="searchUser($event)"></app-form>
  <hr />
  <div class="row">
    <div class="col-sm">
      <div class="testimonial-card">
        <div class="avatar pt-3" style="z-index: 4">
          <img
            src="{{ userProfile.avatar_url }}"
            class="width-full border bg-blue" style="border-radius: 23em;"
            alt="woman avatar"
            style="height: auto"
            alt
            width="260"
            height="260"
          />
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="testimonial-card">
        <div class="card-body">
          <h4 class="card-title">{{ userProfile.login }}</h4>
          <hr />
          <p>{{ userProfile.bio }}</p>
          <div class="row">
            <div class="col-sm">
              {{ userProfile.followers }}
              <p>followers</p>
            </div>
            <div class="col-sm">
              {{ userProfile.following }}
              <p>following</p>
            </div>
          </div>
          {{ userProfile.location }}
        </div>
      </div>
    </div>
  </div>

  <h3 class="text-center">Repositories</h3>

  <div class="row" *ngFor="let repo of userRepo">
    <div class="col pt-3">
      <div class="card card-cascade wider reverse mt-3 repo">
        <div class="card-body card-body-cascade text-center" appOnHover>
          <div class="card">
          <h5 class="card-header"><strong>{{ repo.name }}</strong></h5>
          <div class="card-body">
            <!-- <h5 class="card-title">Special title treatment</h5> -->
            <p class="card-text">{{ repo.description }}</p>
            <p>{{repo.created_at|dateAgo}}</p>
            <p class="pl-3 red-text">{{ repo.language }}</p>
            <button type="button" class="btn btn-primary">
              <a target="_blank" class="text-white" href="{{ repo.html_url }}"
                >View Project
              </a>
            </button>
          </div>
        </div>


        </div>
      </div>
    </div>
  </div>
</div>
